{% extends 'layout.html' %} {% block content %}

<section class="sct container-fluid m-0 p-3">
  <div
    id="aboutbanner"
    class="ttl container-fluid hover-shadow m-0 p-0 rounded-6 d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="shadowtext">¿quienes somos?</h1>
  </div>

  <div
    class="container-fluid m-o p-0 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="abt rounded-6 container-fluid my-4 p-4">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <h4 class="mb-3 text-center">Dream Tattoo Studio</h4>
          <p class="mb-3" style="text-align: justify">
            Dream Tattoo nació de la pasión y la dedicación por el arte del
            tatuaje. Fundado en 2023 por un grupo de artistas con una visión
            compartida, nuestro estudio se ha convertido en un espacio donde el
            talento emergente encuentra una plataforma para brillar. Inspirados
            por la diversidad y la creatividad, Dream Tattoo se compromete a
            ofrecer un ambiente inclusivo y profesional, donde cada artista y
            cliente se sienta valorado y respetado. Desde nuestros inicios,
            hemos trabajado arduamente para establecer estándares elevados en
            atención al cliente, higiene, profesionalismo y calidad, ganando la
            confianza y el reconocimiento de nuestra comunidad.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row abt rounded-6 gy-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 p-0">
          <img
            class="img-fluid rounded-6"
            loading="lazy"
            src="/static/media/cares/tatuador.png"
            alt="About Us"
          />
        </div>
        <div class="col-12 col-lg-6 col-xxl-6">
          <div class="row">
            <div class="col-12 p-5">
              <div class="about-wrapper align-items-center">
                <h4>Misión</h4>
                <p class="mb-4 mb-md-5" style="text-align: justify">
                  Dream Tattoo nació de la pasión y la dedicación por el arte
                  del tatuaje. Fundado en 2023 por un grupo de artistas con una
                  visión compartida, nuestro estudio se ha convertido en un
                  espacio donde el talento emergente encuentra una plataforma
                  para brillar. Inspirados por la diversidad y la creatividad,
                  Dream Tattoo se compromete a ofrecer un ambiente inclusivo y
                  profesional, donde cada artista y cliente se sienta valorado y
                  respetado. Desde nuestros inicios, hemos trabajado arduamente
                  para establecer estándares elevados en atención al cliente,
                  higiene, profesionalismo y calidad, ganando la confianza y el
                  reconocimiento de nuestra comunidad.
                </p>
                <h4>Visión</h4>
                <p style="text-align: justify">
                  Nuestra visión es ser reconocidos como un referente en el
                  mundo del tatuaje, destacando por nuestro compromiso con la
                  innovación, la calidad y el apoyo a los nuevos talentos.
                  Aspiramos a expandir nuestros horizontes, llevando el arte del
                  tatuaje a nuevas audiencias y estableciendo estándares más
                  altos en la industria. En Dream Tattoo, creemos en el poder
                  del arte para conectar y transformar vidas, y nos esforzamos
                  por ser un estudio donde la creatividad y la excelencia se
                  encuentran y prosperan.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid mt-4 p-0 d-flex gap-3 justify-content-center align-items-center"
    >
      <div
        class="descp p-4 rounded-6 hover-shadow d-flex flex-column justify-content-center align-items-center"
      >
        <h4 class="fw-bold">Valores</h4>
        <div class="d-flex mt-2 gap-3">
          <ul>
            <li>
              <b>Creatividad:</b> Fomentar la innovación y la expresión
              artística.
            </li>
            <li>
              <b>Calidad:</b> Ofrecer tatuajes de alta calidad con atención a
              los detalles.
            </li>
            <li>
              <b>Higiene:</b> Mantener estrictos estándares de limpieza y
              seguridad.
            </li>
            <li>
              <b>Profesionalismo:</b> Actuar con integridad y responsabilidad en
              todo momento.
            </li>
          </ul>
          <ul>
            <li>
              <b>Respeto:</b> Tratar a todos con cortesía y consideración.
            </li>
            <li>
              <b>Compromiso:</b> Dedicarse a la satisfacción y bienestar de los
              clientes.
            </li>
            <li><b>Transparencia:</b> Comunicarse abierta y honestamente.</li>
            <li>
              <b>Pasión:</b> Entregar lo mejor en cada tatuaje y experiencia.
            </li>
          </ul>
        </div>
      </div>
      <div class="imgsqr rounded-6 hover-shadow">
        <img class="img-fluid" src="/static/media/cares/skincare2.png" alt="" />
      </div>
    </div>

    <div
      class="container-fluid mt-4 p-0 d-flex gap-3 justify-content-center align-items-center"
    >
      <div class="imgsqr rounded-6 hover-shadow">
        <img class="img-fluid" src="/static/media/cares/skincare.png" alt="" />
      </div>
      <div
        class="descp p-4 rounded-6 hover-shadow d-flex flex-column justify-content-center align-items-center"
      >
        <h4 class="fw-bold">Reglamento del personal</h4>
        <dl class="mt-2">
          <dt>Higiene y Seguridad:</dt>
          <dd>
            Lavarse las manos, usar guantes nuevos y desinfectar el equipo antes
            de cada cliente, manteniendo el área de trabajo limpia.
          </dd>
          <dt>Profesionalismo:</dt>
          <dd>
            Ser puntual, respetuoso y mantener una actitud positiva, usando ropa
            adecuada.
          </dd>
          <dt>Atención al Cliente:</dt>
          <dd>
            Proporcionar información clara, escuchar necesidades y responder
            preguntas con profesionalismo.
          </dd>
          <dt>Desarrollo Profesional:</dt>
          <dd>
            Participar en talleres, mantenerse actualizado y fomentar el
            aprendizaje colaborativo.
          </dd>
        </dl>
      </div>
    </div>

    <div
      class="container-fluid mt-4 p-0 d-flex gap-3 justify-content-center align-items-center"
    >
      <div
        class="descp p-4 rounded-6 hover-shadow d-flex flex-column justify-content-center align-items-center"
      >
        <h4 class="fw-bold">Reglamento del cliente</h4>
        <dl class="mt-2">
          <dt>Higiene y Seguridad:</dt>
          <dd>
            Llegar con la piel limpia, sin consumir alcohol o drogas, e informar
            sobre condiciones médicas.
          </dd>
          <dt>Puntualidad:</dt>
          <dd>
            Llegar a tiempo para las citas y avisar con 24 horas de antelación
            si es necesario cancelar o reprogramar.
          </dd>
          <dt>Comportamiento:</dt>
          <dd>
            Mantener un comportamiento respetuoso, evitar acompañantes
            innecesarios y seguir las instrucciones del artista.
          </dd>
          <dt>Cuidado Posterior:</dt>
          <dd>
            Seguir las instrucciones de cuidado, contactar al estudio con dudas
            y programar revisiones o retoques cuando sea necesario.
          </dd>
        </dl>
      </div>
      <div class="imgsqr rounded-6 hover-shadow">
        <img class="img-fluid" src="/static/media/cares/skincare2.png" alt="" />
      </div>
    </div>
  </div>
</section>

{% endblock %}
