{% extends 'layout.html' %} {% block content %}

<section
  class="sct container-fluid m-0 p-0 d-flex flex-column justify-content-center align-items-center"
>
  <div
    id="homebanner"
    class="container-fluid d-flex flex-column justify-content-center align-items-center text-center hover-shadow"
    style="min-height: 95vh"
  >
    <img
      class="mb-4"
      src="/static/media/DreamTattooLogo.png"
      style="width: 250px"
    />
    <h5 class="mb-3">
      Thank you for using our product. We're glad you're with us.
    </h5>
    <p class="mb-3">MDB Team</p>
    <a
      class="btn btn-outline-light btn-lg m-2 rounded-6 hover-shadow"
      data-mdb-ripple-init
      href="https://mdbootstrap.com/docs/standard/"
      target="_blank"
      role="button"
      >Download MDB UI KIT</a
    >
  </div>

  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center hover-shadow p-5"
  >
    <h3 class="mb-5 shadowtext">
      Recomendaciones para mantener el tatuaje en buen estado después de su
      curación total
    </h3>

    <div class="row">
      <div class="col-lg-4 col-md-6 m-auto">
        <div class="card text-white abt rounded-6 hover-shadow">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fab fa-instagram"></i> Card title
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-auto">
        <div class="card text-white abt rounded-6 hover-shadow">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fab fa-instagram"></i> Card title
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-auto">
        <div class="card text-white abt rounded-6 hover-shadow">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fab fa-instagram"></i> Card title
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center hover-shadow px-5"
  >
    <h3 class="mb-5 shadowtext">
      Recomendaciones para mantener el tatuaje en buen estado después de su
      curación total
    </h3>
    <!-- Swiper -->
    <div class="swiper mySwiper mb-5">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card text-center text-white abt rounded-6 hover-shadow">
            <div class="bg-image p-3">
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
                class="img-fluid rounded-6 hover-shadow"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next text-white"></div>
      <div class="swiper-button-prev text-white"></div>
    </div>
  </div>

  <div
    id="carebanner"
    class="ttl container-fluid hover-shadow m-0 p-0 rounded-6 d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="shadowtext">¿Como cuidar un tatuaje?</h1>
  </div>

  <div class="container-fluid p-5">
    <div class="row justify-content-center">
      {% for pst in posts|slice:":9" %}
      <div class="col-md-4 col-xs-6 my-3">
        <img
          src="{{pst.image.url}}"
          class="img-fluid rounded-6 hover-shadow"
          alt="{{pst.title}}"
        />
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
